/* estilo_contactos.css */

body {
    background-color: #FFF0F5;
    font-family: Arial, sans-serif;
}

header {
    background-color: #aee5e7;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #0c0c0c;
}

h1 {
    color: #FF69B4;
}

footer {
    background-color: #66fdf6;
    padding: 10px;
    text-align: center;
}